<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
   body{
   background-Color:pink;
   justify-content:center;
   text-align:center;
   padding-top:10%;
   
   }
   
   
</style>
</head>
<body>

<h1> USER LOGIN PAGE :</h1>
<form action="validate" method="post">


<label>Email:</label>
<input type="email" name="email"><br>
<label> Password:</label>
<input type="password" name="password"><br>


<button type="submit">Login</button>

</form>
</body>
</html>